certifi==2024.2.2
charset-normalizer==3.3.2
distlib==0.3.8
docutils==0.21.2
ffpyplayer==4.5.1
filelock==3.14.0
idna==3.7
Kivy==2.3.0
Kivy-Garden==0.1.5
pillow==10.3.0
platformdirs==4.2.2
Pygments==2.18.0
requests==2.32.2
setuptools==70.0.0
urllib3==2.2.1
virtualenv==20.26.2
